
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200">
        <link rel="stylesheet" href="./styles/css/styles2.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <div class="logo">
                <img src="./styles/images/titleLogo.jpg" />
            </div>
            <div class="menu">
                
            </div>
        <section>
            <img class="flash-logo" src="./styles/images/commentLogo.png" />
            <h2>Coffee Ride Live Chat Room!</h2>
            <div class="post">
                <img class="pic-post" src="./styles/images/pdxBike.jpg"/>
            </div>
        </section>
        <section>
           
           <div class="flash-comments">
                <div class="header">
                    <div id="comment-edit"><img src="./styles/images/commentLogo.png" ></div>
                    <div class="text">Comments</div>
                </div>
                <form class="pure-form" id="comment-form">
                    <div class="comment-form">
                        <div class="left-side">
                            <div class="row">
                                <input type="text" required placeholder="enter your name" id="new_comment_name">
                                <input placeholder="enter valid email" required type="email" id="new_comment_email">
                            </div>
                            <div class="row">
                                <textarea placeholder="enter comment text" required id="new_comment_text" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="right-side">
                            <button 
                                type="submit" 
                                class="button-secondary pure-button">Send Comment</button>
                        </div>
                    </div>
                </form>
                 <div class="comments-list" id="comments-list">
                        
                </div>
            </div>
        </section>
       
        <script type="text/javascript" src="https://js.pusher.com/3.2/pusher.min.js"></script>
        <script type="text/javascript" src="./js/app.js"></script>
